.price {
  padding-top: 106px;
  padding-bottom: 39px;
  margin-bottom: 41px;
  background-color: @gray;
}

.price__toggle {
  .mobile-container();
  width: 83px;
}

@media (min-width: @tablet-width) {
  .price {
    padding-top: 90px;
    padding-bottom: 65px;
    margin-bottom: 45px;
  }

  .price__container {
    .tablet-container();
  }

  .price__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .price {
    padding-top: 174px;
    padding-bottom: 92px;
    margin-bottom: 63px;
  }

  .price__container {
    .desktop-container();
  }
}
