.contacts__intro {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: @blue;
}

.contacts__item {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: @blue;
}

.contacts__way {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: @pink;
}
