.controls__item,
.price-controls__item {
  position: relative;
  top: -4px;
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-right: 14px;
  text-align: center;

  background-color: #bec2c7;
  border-radius: 50%;
  cursor: pointer;
}

.controls__item:hover,
.price-controls__item:hover {
  background-color: #7e868f;
}

.toggle-container__radio-button:checked + .controls__item::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 6px;
  height: 6px;
  background-color: @gray;
  border: 3px solid @blue;
  border-radius: 50%;
  cursor: pointer;
}

.price-toggle-container__radio-button:checked + .price-controls__item::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 6px;
  height: 6px;
  background-color: @gray;
  border: 3px solid @blue;
  border-radius: 50%;
  cursor: pointer;
}

.controls {
  margin-left: 15px;
  text-align: center;
}
