.features {

}

.features__intro {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: @blue;
}

.features__wrapper {
  background-color: @gray;
}

.features__list {
  list-style: none;
}

.features__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.features__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @blue;
}

