.feedback-form__wrapper {
  display: flex;
  flex-direction: column;
}

.feedback-form__sign {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @pink;
}

.feedback-form__comment-sign {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @pink;
}

@media (min-width: @desktop-width) {
  .feedback-form__container {
    display: flex;
    flex-direction: column;
    order: 3;
  }
  
  .feedback-form__item {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 55px;
  }
  
  .feedback-form__comment-block {
    display: flex;
    flex-direction: column;
  }
  
  .feedback-form__sign {
    align-self: center;
  }
  
  .feedback-form__user-data {
    display: inline-block;
    box-sizing: border-box;
    width: 340px;
    padding-left: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .feedback-form__user-data--name {
    width: 358px;
  }
}