.like-container {
  padding-bottom: 18px;
}

.like-container__text {
  margin: 0;
  padding: 0;
  margin-left: 50px;
  padding-top: 10px;
  text-align: left;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: @pink;
}

.like-container__button {
  position: absolute;
}

.like-container__button::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 19px;
  width: 13px;
  height: 12px;
  background-image: url("../img/icon-heart.svg");
}

@media (min-width: @tablet-width) {
  .like-container__text {
    padding-bottom: 0;
    margin-left: 26px;
    margin-top: -56px;
  }

  .like-container__text--main {
    margin-top: -137px;
    width: 155px;
  }

  .like-container {
    padding-bottom: 0;
    width: 155px;
  }

  .like-container--main {
    margin-left: 445px;
  }

  .like-container__button::before {
    left: 255px;
    top: -41px;
  }

  .like-container__button--main::before {
    left: 133px;
    top: -122px;
  }
}

@media (min-width: @desktop-width) {
  .like-container--main {
    margin-left: 762px;
  }

  .like-container__text--main {
    margin-top: -113px;
  }

  .like-container__button--main::before {
    top: -98px;
  }
}
