.like-container__text {
  margin: 0;
  padding: 0;
  margin-left: 48px;
  margin-top: -14px;
  padding-bottom: 20px;
  text-align: left;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: @pink;
}
