.page-footer {
  display: none;
}

.page-footer__wrapper {
  .mobile-container();
  display: flex;
  flex-direction: column;
}

.page-footer__picture {
  margin: auto;
}

.page-footer__photo {
  display: block;
}

.page-footer__form {
  display: block;
  margin-bottom: -9px;
}

.page-footer__footer-logo {
  margin: auto;
  margin-bottom: 32px;
  margin-top: 42px;
}

.page-footer__footer-logo--form {
  margin-top: 40px;
}

.page-footer__social-wrapper {
  margin: auto;
}

.page-footer__copyright {
  margin: auto;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: block;
    margin-top: 30px;
    margin-bottom: 38px;
  }

  .page-footer--index {
    margin-top: 23px;
  }

  .page-footer__social-wrapper {
    margin: 0;
  }

  .page-footer__wrapper {
    .tablet-container();
    display: flex;
    flex-direction: row;
  }

  .page-footer__footer-logo {
    width: 148px;
    margin: 0;
  }

  .page-footer__footer-logo--index {
    margin: 0;
    margin-top: 8px;
    margin-left: 2px;
  }

  .page-footer__footer-logo--form {
    margin-top: 5px;
  }

  .page-footer__copyright {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    margin-top: 83px;
    margin-bottom: 75px;
  }

  .page-footer--index {
    margin-top: 48px;
  }

  .page-footer__form {
    margin-top: 56px;
  }

  .page-footer__wrapper {
    .desktop-container();
  }

  .page-footer__social-wrapper {
    margin-left: 240px;
    width: 180px;
  }
  
  .page-footer__social-wrapper--index {
    margin-left: 230px;
  }

  .page-footer__footer-logo {
    margin: 0;
    margin-top: 15px;
    width: 154px;
  }
  
  .page-footer__footer-logo--form {
    margin-top: 9px;
  }

  .page-footer__copyright {
    margin: 0;
  }
}
