.photos-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photos-list__title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: @blue;
}

.photo-list__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: @blue;
}

.photos-list__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @blue;
}

.photos-list__item {
  margin-bottom: 20px;
  background-color: @gray;
}

.photos-list__item--first {
  background-color: @white;
}

.photos-list__sign {
  margin: 0;
  padding: 0;
}

.photos-list__post {
  margin: 0;
  padding: 0;
}

.photos-list__image {
  width: 100%;
}

.photos-list__image--tablet,
.photos-list__image--desktop {
  display: none;
}

.photos-list__wrap {
  .mobile-container();
  padding-top: 4px;
  margin-top: -7px;
  background-color: @gray;
}

@media (min-width: @tablet-width) {
  .photos-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
  }

  .photos-list__item {
    width: 300px;
  }

  .photos-list__item--first {
    width: 100%;
  }

  .photos-list__image--mobile,
  .photos-list__image--desktop {
    display: none;
  }

  .photos-list__image--tablet {
    display: block;
    overflow: hidden;
  }

  .photos-list__wrap {
    .tablet-container();
  }
}

@media (min-width: @desktop-width) {

  .photos-list__image--mobile,
  .photos-list__image--tablet {
    display: none;
  }

  .photos-list__image--desktop {
    display: block;
  }

  .photos-list__wrap {
    .desktop-container();
  }
}
