.photos-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photos-list__title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: @blue;
}

.photo-list__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: @blue;
}

.photos-list__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @blue;
}

.photos-list__item {
  margin-bottom: 20px;
  background-color: @gray;
}

.photos-list__post {
  margin: 0;
  padding: 0;
}
