.price-table__line--title {
  background-color: @blue;
}

.price-table__line--content {
  background-color: @white;
}

.price-table__item {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @blue;
}

.price-table__item--title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @white;
}

.price-table__item--price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.price-table__item--column,
.price-table__item--empty {
  display: none;
}

@media (min-width: @tablet-width) {
  .price-table__item--column,
  .price-table__item--empty {
    display: table-cell;
  }
}
