.promo {
   background-color: @blue;
}

.promo__promo-image {
  background-image: url("../img/bg-back-mobile@1x.jpg");
}

.promo__availability {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: @white;
}