.review {
  position: relative;
  z-index: 10;
  margin-bottom: 20px;
  background-color: @white;
}

.review::before {
  content: "";
  position: absolute;
  top: 285px;
  width: 100%;
  height: 150px;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.review__container {
  .mobile-container();
}

.review__quote {
  display: none;
}

.review__item {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 28px;
  padding: 0;
  padding-top: 43px;
}

.review__title {
  margin: auto;
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
}

.review__text {
  margin: 0;
  padding: 0;
  width: 282px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @blue;
}

.review__title-sign {
  display: none;
}

.review__toggle {
  margin-left: 112px;
}

@media (min-width: @tablet-width) {
  .review {
    margin-bottom: 14px;
  }

  .review__container {
    .tablet-container();
  }

  .review::before {
    top: 248px;
  }

  .review__item {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .review__text {
    width: 100%;
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 30px;
  }

  .review__title {
    order: 1;
    margin-bottom: 17px;
    font-size: 20px;
    line-height: 30px;
  }

  .review__title-sign {
    display: block;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: @blue;
  }

  .review__toggle {
    margin-left: 282px;
  }
}

@media (min-width: @desktop-width) {
  .review::before {
    top: 304px;
  }

  .review__container {
    .desktop-container();
  }

  .review__quote {
    display: block;
    margin: auto;
    margin-bottom: 50px;
    fill: @gray;
  }

  .review__item {
    padding: 0;
  }

  .review__title {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 30px;
  }

  .review__text {
    position: relative;
    margin: auto;
    margin-bottom: 36px;
    width: 690px;
    font-size: 18px;
  }

  .review__text::after {
    content: "";
    position: absolute;
    top: 27px;
    left: -123px;
    width: 50px;
    height: 50px;
    background-image: url("../img/icon-review-arrow-left.svg");
    background-repeat: no-repeat;
  }

  .review__text::before {
    content: "";
    position: absolute;
    top: 27px;
    left: 794px;
    width: 50px;
    height: 50px;
    background-image: url("../img/icon-review-arrow-right.svg");
    background-repeat: no-repeat;
  }

  .review__title-sign {
    font-size: 18px;
  }

  .review__toggle {
    display: none;
  }
}
