.site-list {
  position: relative;
  z-index: 100;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.site-list__item {
  position: relative;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #485461;
  border-bottom: 1px solid black;
}

.site-list__item:first-child {
  box-shadow: 0 -1px 0 0 black;
}

.site-list__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: @white;
}

.site-list__link:hover {
  color: @pink;
}

.site-list__link:focus {
  opacity: 0.7;
}

@media (min-width: @desktop-width) {
  .site-list {
    .desktop-container();
    display: flex;
    margin-left: 235px;
    width: 825px;
  }

  .site-list--photo {
    width: 825px;
  }

  .site-list__link:focus {
    color: @white;
    opacity: 0.3;
  }

  .site-list__item {
    margin-left: 82px;
    border: none;
  }

  .site-list__item:first-child {
    box-shadow: none;
  }

  .site-list__link {
    text-transform: none;
    font-weight: 400;
  }

  .site-list__item--active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50px;
    left: 0;
    background-color: @white;
  }
}
