.user-app {
  margin: 0;
  padding: 0;
  border: 0 none;
  background-color: @gray;
}

.user-app__sign {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @pink;
}

.user-app__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: @desktop-width) {
  .user-app {
    display: flex;
    order: -1;
    background-color: @white;
  }

  .user-app__container {
    display: flex;
    flex-direction: column;
    width: 433px;
    margin: 0;
  }

}
