.user-form {

}

.user-form__intro {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @blue;
}

.user-form__comment {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

.user-form__mark {
  color: @pink;
}